body {
    background: #222;
    font-family: Signika, sans-serif;
    margin: 0;
	color: #000;
}

.red {
    color: #c33;
}

.green {
    color: #6be234;
}

.blue {
    color: #729fcf;
}

.grey {
    color: #999;
}

#contentWrapper {
    width: 800px;
    min-height: 500px;
    margin: 30px auto 0;
}

#timelineWrapper {
    float: left;
    width: 550px;
    min-height: 200px;
}

#sidebarWrapper {
    float: left;
    width: 240px;
	margin-right: 10px;
    min-height: 200px;
	background: #fff;
}

#headerWrapper {
    height: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}

.timelineEntry {
    padding: 5px;  
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
	display: flex;
}

.imageWrapper {
    margin: 0 auto;
}

	.imageWrapper, .imageWrapper img {
    	width: 100%;
	}

.curvedBorder{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sidebarModule {
	padding: 5px;
}

.profileImage {
    padding-bottom: 0;
}

.image {
	width: 100%;
}

.newPost textarea{
	color: #A3A3A3;
}